
<div class="panel panel-default legend">
  <div class="panel-heading"><h4>Search Details</h4></div>
  <div class="panel-body">
    <div class="row border-bottom">
      <div class="col-xs-6">
        <h5 class="label-title">Pick up Date</h5>
        <p>{{ pickUpDateTime }}</p>
      </div>
      <div class="col-xs-6">
        <h5 class="label-title">Pick up Location</h5> 
        <p>{{ pickUpLocationName }}</p>
      </div>  
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h5 class="label-title">Return Date</h5>
        <p>{{ returnDateTime }}</p>
      </div>
      <div class="col-xs-6">
        <h5 class="label-title">Return Location</h5> 
        <p>{{ returnLocationName }}</p>
      </div> 
    </div>
  </div>
</div>